<!DOCTYPE html>
<html>
<head>
	<title>手动绘制覆盖物</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
	<link rel="stylesheet" href="http://172.16.16.109:8088/jsapi/3.14/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://172.16.16.109:8088/jsapi/3.14/esri/css/esri.css">
	<style type="text/css">
		body, html,#mapDiv {width: 100%;height: 600px;overflow: hidden;margin:0;font-family:"微软雅黑";}
		#toolsPanel{
			width: 100%;height: 100px;overflow: hidden;margin:0;font-family:"微软雅黑";margin-left:5px; font-size:14px;color: #000000;
		}
		
	</style>
	<script type="text/javascript" src="../../static/assets/gis/config/config.js"></script>
	<script type="text/javascript" src="../../static/assets/jquery/jquery-1.11.2.min.js"></script>
	<script src="http://172.16.16.109:8088/jsapi/3.14/init.js"></script>
</head>
<body>
	<div id="toolsPanel">
		<p>手动绘制地图覆盖物</p>
		<input type="button" id="btn_addPoint" value="绘制符号图形">
		<input type="button" id="btn_addPicture" value="绘制图片">
		<input type="button" id="btn_addText" value="绘制文本">
		<input type="button" id="btn_addPolyline" value="绘制线图形">
		<input type="button" id="btn_addExtent" value="绘制矩形">
		<input type="button" id="btn_addCircle" value="绘制圆形">
		<input type="button" id="btn_addPolygon" value="绘制多边形">
		<input type="button" id="btn_delAll" value="清除绘制图形">
	</div>
	<div id="mapDiv"></div>
</body>
</html>
<script type="text/javascript">
dojo.require("extras.MapInitObject");
dojo.require("esri.geometry.Extent");
dojo.require("esri.toolbars.draw");
dojo.require("esri.symbols.SimpleFillSymbol");
dojo.require("esri.symbols.SimpleLineSymbol");
dojo.require("esri.symbols.SimpleMarkerSymbol");
dojo.require("esri.symbols.PictureMarkerSymbol");
dojo.require("esri.symbols.TextSymbol");


var GisObject,scaleBar;
var isClick = false;
dojo.ready(function(){
	GisObject = new extras.MapInitObject("mapDiv");
	
	GisObject.setMapOptions({
		logo:false,
		extent : "12557877.595482401,2596928.9267310356,12723134.450635016,2688653.360673282",
		level:10,
		center:null
	});
	
	GisObject.addDefaultLayers();
	
	$("#btn_addPoint").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.POINT,new esri.symbols.SimpleMarkerSymbol({
			  "color": [255,255,255,64],
			  "size": 24,
			  "angle": -30,
			  "xoffset": 0,
			  "yoffset": 0,
			  "type": "esriSMS",
			  "style": "esriSMSCircle",
			  "outline": {
			    "color": [255,0,0,255],
			    "width": 3,
			    "type": "esriSLS",
			    "style": "esriSLSSolid"
			  }
			}));
	});
	
	$("#btn_addPicture").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.POINT,new esri.symbols.PictureMarkerSymbol({
		    "url":selfUrl + "/themes/default/img/tt.png",
		    "height":36,
		    "width":36,
		    "type":"esriPMS",
		    xoffset:0,
    		yoffset:10
		  }));
	});
	
	$("#btn_addText").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.POINT,new esri.symbols.TextSymbol({
			type:"esriTS",
            angle:0,
            color:[51,51,51,255],
            font:{
        		family:"微软雅黑",
        		size:14,
        		style:"normal",
        		variant:"normal",
        		weight:"normal"
            },
            horizontalAlignment:"center",
            kerning:true,
    		rotated:false,
    		text:"添加默认文本",
    		xoffset:0,
    		yoffset:10
        }));
	});
	
	$("#btn_addPolyline").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.POLYLINE,new esri.symbols.SimpleLineSymbol({
            type:"esriSLS",
            style:"esriSLSSolid",
            width:2,
            color:[255,0,0,255]
        }));
	});
	
	$("#btn_addExtent").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.EXTENT,new esri.symbols.SimpleFillSymbol({
        	type:"esriSFS",
            style:"esriSFSSolid",
            color:[0,0,0,64],
            outline:{
            	type:"esriSLS",
            	style:"esriSLSSolid",
            	width:1.5,
            	color:[255,0,0,255]
            }
        }));
	});
	
	$("#btn_addCircle").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.CIRCLE,new esri.symbols.SimpleFillSymbol({
        	type:"esriSFS",
            style:"esriSFSSolid",
            color:[0,0,0,64],
            outline:{
            	type:"esriSLS",
            	style:"esriSLSSolid",
            	width:1.5,
            	color:[255,0,0,255]
            }
        }));
	});
	
	$("#btn_addPolygon").click(function(){
		GisObject.toolbar.draw(esri.toolbars.draw.POLYGON,new esri.symbols.SimpleFillSymbol({
        	type:"esriSFS",
            style:"esriSFSSolid",
            color:[0,0,0,64],
            outline:{
            	type:"esriSLS",
            	style:"esriSLSSolid",
            	width:1.5,
            	color:[255,0,0,255]
            }
        }));
	});
	
	$("#btn_delAll").click(function(){
		GisObject.toolbar.drawLayer.clear();
	});
	
});

</script>
