.toolbar button i, .toolbar button span{
	margin-right: 3px;
}
.gisicon{
	display: inline-block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
}
.gisicon.circle-query{
	background-image: url("../images/toolbar/space_search/circleQuery.gif");
}
.gisicon.extent-query{
	background-image: url("../images/toolbar/space_search/extentSelect.png");
}
.gisicon.polygon-query{
	background-image: url("../images/toolbar/space_search/polygonQuery.gif");
}
.gisicon.space-query{
	background-image: url("../images/toolbar/space_search/spatialQueryMenu.gif");
}
.gisicon.layer-control{
	background-image: url("../images/toolbar/layer_control/layer.png");
}
.gisicon.bayonet-control{
	background-image: url("../images/toolbar/layer_control/bayonet.png");
}
.gisicon.broadcast-control{
	background-image: url("../images/toolbar/layer_control/broadcast.png");
}
.gisicon.camera-control{
	background-image: url("../images/toolbar/layer_control/camera.png");
}
.gisicon.case-control{
	background-image: url("../images/toolbar/layer_control/case.png");
}
.gisicon.police-control{
	background-image: url("../images/toolbar/layer_control/police.png");
}
.gisicon.measure{
	background-image: url("../images/toolbar/measure/measureMenu.png");
}
.gisicon.measure-length{
	background-image: url("../images/toolbar/measure/measureLength.png");
}
.gisicon.measure-area{
	background-image: url("../images/toolbar/measure/measureArea.png");
}

.gisicon.plot{
	background-image: url("../images/toolbar/plot/plot.png");
}
.gisicon.plot-point{
	background-image: url("../images/toolbar/plot/point/PointPlot.png");
}
.gisicon.plot-arrow{
	background-image: url("../images/toolbar/plot/arrow/arrow.png");
}
.gisicon.plot-double-arrow{
	background-image: url("../images/toolbar/plot/arrow/qianjPlot.png");
}
.gisicon.plot-straight-arrow{
	background-image: url("../images/toolbar/plot/arrow/zhijtPlot.png");
}
.gisicon.plot-fine-arrow{
	background-image: url("../images/toolbar/plot/arrow/xizjtPlot.png");
}
.gisicon.plot-assault-direction{
	background-image: url("../images/toolbar/plot/arrow/tujffPlot.png");
}
.gisicon.plot-attack-arrow{
	background-image: url("../images/toolbar/plot/arrow/jingffPlot.png");
}
.gisicon.plot-squad-combat{
	background-image: url("../images/toolbar/plot/arrow/fendzdPlot.png");
}
.gisicon.plot-tailed-attack-arrow{
	background-image: url("../images/toolbar/plot/arrow/jingffwPlot.png");
}
.gisicon.plot-tailed-squad-combat{
	background-image: url("../images/toolbar/plot/arrow/fendzdwPlot.png");
}
.gisicon.plot-line{
	background-image: url("../images/toolbar/plot/line/lineMenu.png");
}
.gisicon.plot-polyline{
	background-image: url("../images/toolbar/plot/line/linePlot.png");
}
.gisicon.plot-arc{
	background-image: url("../images/toolbar/plot/line/yuanhuPlot.png");
}
.gisicon.plot-curve{
	background-image: url("../images/toolbar/plot/line/quxian.png");
}
.gisicon.plot-freehand-polyline{
	background-image: url("../images/toolbar/plot/line/shouhx.png");
}
.gisicon.plot-plane{
	background-image: url("../images/toolbar/plot/plane/polygon.png");
}
.gisicon.plot-rectangle{
	background-image: url("../images/toolbar/plot/plane/jux.png");
}
.gisicon.plot-circle{
	background-image: url("../images/toolbar/plot/plane/circle.png");
}
.gisicon.plot-ellipse{
	background-image: url("../images/toolbar/plot/plane/touyx.png");
}
.gisicon.plot-lune{
	background-image: url("../images/toolbar/plot/plane/gongxPlot.png");
}
.gisicon.plot-sector{
	background-image: url("../images/toolbar/plot/plane/sanxPlot.png");
}
.gisicon.plot-polygon{
	background-image: url("../images/toolbar/plot/plane/polygonPlot.png");
}
.gisicon.plot-gathering-place{
	background-image: url("../images/toolbar/plot/plane/jijd.png");
}
.gisicon.plot-freehand-polygon{
	background-image: url("../images/toolbar/plot/plane/showhmPlot.png");
}
.gisicon.plot-closed-curve{
	background-image: url("../images/toolbar/plot/plane/bihqxPlot.png");
}
.gisicon.capture{
	background-image: url("../images/toolbar/cutMenu.png");
}
.gisicon.capture-local{
	background-image: url("../images/toolbar/locateCut.png");
}
.gisicon.fullscreen{
	background-image: url("../images/toolbar/fullMenu.png");
}
.gisicon.print{
	background-image: url("../images/toolbar/print/printMenu.png");
}
.gisicon.layer-clear{
	background-image: url("../images/common/clearMenu.png");
}