<!DOCTYPE html>
<html>
<head>
    <title>地图API示例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="assets/codemirror/codemirror.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body onLoad="mapheight();">
	<div id="header">
		<a class="logo">
			<img src="images/logo.png">
		</a>
	</div>
	<div id="content">
		<div id="menu">
			<ul>
				<li id="list_item1">
					<a class="one_head" listid="1"><i class="t_close"></i>地图示例</a>
					<div id="submenu1" class="submenu">
						<dl>
							<dd><a href="demo/a1_2.htm" onClick="setIntro('a1_2');" target="container">地图展示</a></dd>
							<dd><a href="demo/a3_1.htm" onClick="setIntro('a3_1');" target="container">移动地图</a></dd>
							<dd><a href="demo/a3_2.htm" onClick="setIntro('a3_2');" target="container">缩放地图</a></dd>
							<dd><a href="demo/a1_7.htm" onClick="setIntro('a1_7');" target="container">设置地图显示范围</a></dd>
							<dd><a href="demo/a4_3.htm" onClick="setIntro('a4_3');" target="container">获取地图显示范围</a></dd>
						</dl>
					</div>
				</li>
				<li id="list_item5">
					<a class="one_head" listid="2"><i class="t_close"></i>地图操作示例</a>
					<div id="submenu2" class="submenu">
						<dl>
							<dd><a href="demo/e1_1.htm" onClick="setIntro('e1_1');" target="container">地图基本操作</a></dd>
							<dd><a href="demo/e1_2.htm" onClick="setIntro('e1_2');" target="container">地图测距、测面操作</a></dd>
<!-- 							<dd><a href="demo/b0_7.htm" onClick="setIntro('b0_7');" target="container">添加定位相关控件<span style="font-size: 10px; padding-left: 5px; color: red;">new</span></a></dd> -->
						</dl>
					</div>
				</li>
				<li id="list_item2">
					<a class="one_head" listid="2"><i class="t_close"></i>地图控件示例</a>
					<div id="submenu2" class="submenu">
						<dl>
							<dd><a href="demo/b0_2.htm" onClick="setIntro('b0_2');" target="container">添加/删除工具条、比例尺控件</a></dd>
							<dd><a href="demo/b0_3.htm" onClick="setIntro('b0_3');" target="container">地图图层切换</a></dd>
						</dl>
					</div>
				</li>
				<li id="list_item3">
					<a class="one_head" listid="3"><i class="t_close"></i>覆盖物示例</a>
					<div id="submenu3" class="submenu">
						<dl>
							<dd><a href="demo/c1_1.htm" onClick="setIntro('c1_1');" target="container">添加/删除覆盖物</a></dd>
							<dd><a href="demo/c1_2.htm" onClick="setIntro('c1_2');" target="container">手动绘制/删除覆盖物</a></dd>
						</dl>
					</div>
				</li>
				<li id="list_item4">
					<a class="one_head" listid="4"><i class="t_close"></i>信息窗口示例</a>
					<div id="submenu4" class="submenu">
						<dl>
							<dd><a href="demo/d0_1.htm" onClick="setIntro('d0_1');" target="container">添加纯文字的信息窗口</a></dd>
							<dd><a href="demo/d0_2.htm" onClick="setIntro('d0_2');" target="container">添加自定义属性信息窗口</a></dd>
							<dd><a href="demo/d0_6.htm" onClick="setIntro('d0_6');" target="container">添加图文组合的信息窗口</a></dd>
							<dd><a href="demo/d0_4.htm" onClick="setIntro('d0_4');" target="container">添加视频展示信息窗口</a></dd>
						</dl>
					</div>
				</li>
				<li id="list_item5">
					<a class="one_head" listid="5"><i class="t_close"></i>定位示例</a>
					<div id="submenu19" class="submenu">
						<dl>
							<dd><a href="demo/i8_1.htm" onClick="setIntro('i8_1');" target="container">定位接口</a></dd>
						</dl>
					</div>
				</li>
				<li id="list_item6">
					<a class="one_head" listid="6"><i class="t_close"></i>定制开发功能</a>
					<div id="submenu6" class="submenu">
						<dl>
							<dd><a href="demo/f0_1.htm" onClick="setIntro('f0_1');" target="container">聚合展示</a></dd>
						</dl>
						<dl>
							<dd><a href="demo/f0_2.htm" onClick="setIntro('f0_2');" target="container">带箭头(动画)轨迹展示</a></dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
		<div id="code_area" unselectable="on">
			<div id="openbar" unselectable="on">
				<div id="d_menu"> 
					<div id="d_clip_container"><a id="d_clip_button" class="copy" style="z-index: 1000;">复制</a></div>
					<div id="d_run_container"><a id="d_run_button" onClick="run();" class="run">运行</a></div>
					<div id="d_refresh_container"><a id="d_refresh_button" onClick="refresh();">刷新</a></div>
					<div id="d_help_container"><a id="d_help_button" href="http://jshelp.thinkgis.cn/jsapi/draw-amd.html" target="_blank">帮助</a></div>
				</div>
				<p>源代码编辑器</p>
			</div>
			<textarea id="myresource" class="clearfix" onChange="clip.setText(this.value)"></textarea>
			<div id="code_close" onClick="toggleFooter();"></div>
		</div>
		<div id="drag"></div>
		<div id="mapContent" class="clearfix">
			<div id="code_open" onClick="toggleFooter();"></div>
			<div id="overiframe" style=" background:url(about:_blank);" unselectable="on"></div>
			<iframe class="" unselectable="on" name="container" id="container" src="demo/a1_2.htm"></iframe>
		</div>
	</div>


<script type="text/javascript" src="assets/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="assets/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="assets/codemirror/codemirror.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
